#pageContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#titleSection{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#titleStyle{
    font-family: 'Lora', 'Times New Roman', Times, serif;
    font-size: 2.3rem;
    color: white;
    margin: 0;
    margin-left: 2vw;
    margin-top: 2vh;
}

.climateCommandsSection{
    display: flex;
    width: 100%;
    height: 40vh;
    justify-content: center;
    margin-bottom: 6vh;
}

#climateChart{
    background-color: rgba(210, 180, 140, 0.9);
    border-radius: 10px;
}

#sensorValuesSection{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#dataContainer{
    padding: 10px;
    background-color: rgba(200, 180, 140, 0.9);
    border-radius: 10px;
}

#liveData{
    background-color: rgba(210, 180, 140, 0.9);
    color: white;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.titleOfCommands{
    font-size: 1.6rem;
    font-family: 'Lora', 'Times New Roman', Times, serif;
    color: white;
}

.commandStyleText{
    font-size: 1.2rem;
    font-family: 'Lora', 'Times New Roman', Times, serif;
    color: white;
}

#userInputSection{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

#userInput{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgba(210, 180, 140, 0.9);
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.inputBoxClimate {
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
}

.inputBoxClimate:focus {
    border: none;
    border-bottom: 1px solid #32CD32;
}

#buttonStyle {
    width: fit-content;
    align-self: center;
    margin-left: 30%;
    background-color: #8B4513;
    color: white;
    border-radius: 10px;
    border: none;
    height: 7vh;
}

.font-style{
    font-family: 'Lora', 'Times New Roman', Times, serif;
}

.font-size{
    font-size: 1.3rem;
}

.textColorWhite{
    color: white;
}
