<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CasaControl</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="icon" sizes="16x16" href="{{ url_for('static', filename='images/FaviconHouse.png') }}" type="image/png">
    <link rel="icon" sizes="32x32" href="{{ url_for('static', filename='images/FaviconHouse.png') }}" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">
</head>

<body>
    <nav>
        <div id="navbarContainer">
            <a href="{{ url_for('main_controller.home_func') }}" class="logoContainer">
            <img src="{{ url_for('static', filename='images/Logo.png') }}" alt="Logo" class="logo">
            </a>

            {% if session.get('user_verified') %}
            <a href="{{ url_for('main_controller.lamp_commands_func') }}">
                Lamp Control <i class="bi bi-lamp-fill"></i></a>
            {% endif %}

            {% if session.get('user_verified') %}
            <a href="{{ url_for('main_controller.climate_func') }}">
                Climate Control <i class="bi bi-thermometer-sun"></i></a>
            {% endif %}

            {% if session.get('user_verified') %}
            <a href="{{ url_for('main_controller.room_func') }}">
                Room Control <i class="bi bi-box2-fill"></i></a>
            {% endif %}

            {% if session.get('user_verified') %}
            <a href="{{ url_for('main_controller.security_func') }}">
                Security Control <i class="bi bi-eye-fill"></i></a>
            {% endif %}

            <a href="{{ url_for('main_controller.contact_func') }}">
                Contact Us <i class="bi bi-telephone-fill"></i></a>

            {% if session.get('user_verified') %}

            {% else %}
            <div id="middleLogo">
                <p>CASACONTROL</p>
            </div>
            {% endif %}


            {% if session.get('user_verified') %}
            <a href="{{ url_for('main_controller.profile_func') }}" class="profileContainerSection ">
                <div class="profileIconContainer">
                    Carlos
                    <i class="bi bi-person profileStyle"></i>
                </div>
            </a>

            {% else %}
            <a href="{{ url_for('main_controller.profile_func') }}" class="profileContainerSection">
                <div class="profileIconContainer">
                    <i class="bi bi-person profileStyle"></i>
                </div>
            </a>
            {% endif %}

        </div>

    </nav>

    <div id="navbarMargin"></div>

    {% block content %}{% endblock %}


</body>
<footer id="footer">
    <div id="footerInner">
        <a href="{{ url_for('main_controller.home_func') }}" class="logoContainer">
            <img src="{{ url_for('static', filename='images/Logo.png') }}" alt="Logo" class="logo">
            </a>
    </div>
</footer>
</html>
